/*
 * Defines the layout related styles for the application
 * */

 @font-face {
    font-family: CafeDeParis;
    src: url("/static/fonts/CafeDeParisSans-BWwJx.ttf") format("opentype");
}

@font-face {
    font-family: LeblancFree;
    src: url("/static/fonts/LeblancFree-z8K0L.ttf") format("opentype");
}

body {
    background-color: #f9f9f5;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.Screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#LeftPanel,
#RightPanel {
    width: 50vw;
    margin: 0;
    position: relative;
    overflow: auto;
    z-index: 2;
    padding: 1rem;
}

#LeftPanel {
    left: 0;
    background-color: #ffffff;
}

#RightPanel {
    right: 0;
    background-color: #f4f4f4;
}

#Backdrop {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#Main {
    z-index: 2;
    display: flex;
    width: 100%;
}

#Overlay {
    z-index: 30000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#Offscreen {
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    left: -100vw;
    top: 0;
}

/* Style for the panel contents */
.panel-content {
    padding: 1rem;
}

/* Updated .Toolbar styles for consistency */
.Toolbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-right: 2px solid #ddd;
    background-color: #ffffff;
}

.Toolbar li {
    margin-bottom: 1rem;
}

.Toolbar .active li {
    background-color: #eee;
}

/* Updated .Oyster styles */
.Oyster ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.Oyster li {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    /* clear: both; */
}

/* Add a container to prevent overlapping */
.Oyster-Container {
    overflow: hidden;
}

.Oyster li:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.visual {
    display: none;
}

.load {
    display: block;
}

.active .visual {
    display: block !important;
}

.Toolbar .active li {
    display: block !important;
}

/* Inputs styling */
input,
select {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[name="name"] {
    width: 40%;
}

.prop-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prop-type-container select {
    flex-grow: 1;
    margin-right: 0.5rem;
}

.prop-type-container button {
    white-space: nowrap;
}

/* Headings and typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}
